<mat-card class="main-content align-center">

  <form name="userForm" #userForm="ngForm" class="main-content" *ngIf="!isDone">
    <mat-form-field>
      <input name="password" [(ngModel)]="password" #upPassword="ngModel" matInput
        [type]="hidePass ? 'password' : 'text'" placeholder="New Password" required password>
      <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
  </form>
  <h2 mat-dialog-title class="title" *ngIf="isDone">You can sign in with your new password now</h2>
  <div class="buttons">
    <button mat-raised-button color="primary" *ngIf="!isDone" (click)="changePassword(password)">
      Change
    </button>
    <button mat-raised-button (click)="goBack()">
      Back
    </button>
  </div>
</mat-card>