<h2 mat-dialog-title class="title" *ngIf="!isDone">Write the email address that is associated with this account</h2>
<div mat-dialog-content *ngIf="!isDone">
  <form name="Form" #Form="ngForm" class="main-content">
    <mat-form-field>
      <input name="email" [(ngModel)]="email" #inEmail="ngModel" matInput placeholder="Email">
    </mat-form-field>
  </form>
  <div class="actions">
    <button mat-raised-button color="primary" (click)="sendResetMessage(email)" (click)="done()">Send
      instructions</button>
    <button mat-raised-button (click)="close()">Close</button>
  </div>
</div>

<div *ngIf="loading" class="mat-spinner-wrapper">
  <mat-spinner></mat-spinner>
</div>
<h2 mat-dialog-title class="title" *ngIf="isDone && !loading">To reset your password, follow the link in the letter sent
  to your
  email
</h2>
<div mat-dialog-content *ngIf="isDone && !loading">
  <div class="actions">
    <button mat-raised-button (click)="close()">Close</button>
  </div>
</div>